.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter .ant-select-selection {
  height: 43px;
  padding-top: 7px;
  border-radius: none;
  border:none;
  outline: none;
}
.category .ant-select-selection {
  height: 43px;
  padding-top: 5px;
  padding-left: 32px;
  border-radius: 20px;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}