@import url('https://fonts.googleapis.com/css?family=Oswald');
*::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}
*::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,#ff8a00,#da1b60);
    border-radius: 30px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
    box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
	font-family: Oswald;
}
ul,li
{
list-style: none;
padding: 0;
margin: 0;
display: inline;
cursor: pointer;
}
.google-image{
	background-image: url(https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_dark_color_74x24dp.png);
	opacity: .54;
	width: 74px;
    height: 24px;
	background-size: 74px 24px;
	cursor: pointer;
	display: inline-block;
}
.google-font{
	font-family: "Product Sans",Arial,Helvetica,sans-serif;
    position: relative;
    top: -6px;
    left: -5px;
	font-size: 22.1px;
	cursor: pointer;
	width: 74px;
	height: 24px;
	margin-left: 10px;
	opacity: 0.54;
	
}
.nav-google{
	text-align: left;
	padding: 20px 20px 10px 40px;
	border-bottom: 1px solid rgb(199, 196, 196);
	background-image: linear-gradient(to right,#ff8a00,#da1b60)
}
.nav-link{
	float:right;
	margin-top: -5px;
	font-weight: 1000;
	color: rgba(0,0,0,.54);
	font-size: 14px;
	
}
.mg-20{
	margin: 0px 20px;
}
.hover-red:hover{
	color: #ff5252;
	
}
.search-wrapper{
	border: 1px solid #dadce0;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	border-radius: 48px;
    height: 46px;
    left: 0;
    margin: 0 auto;
    max-width: 1465px;
    overflow: visible;
	right: 0;
	margin-top:40px;
	position: relative;
}
.search-font{
	line-height: 44px;
	text-overflow: ellipsis;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 400;
	height: 44px;
	float: left;
	border:none;
	white-space: nowrap;
	outline: none;
}
.icon-search{
	float:left;
	margin-top:7px;
	margin-left: 13px;
	margin-right: 10px; 
	color:rgba(0,191,255,0.6);
}
.option-wrapper{
	float: left;
}
.filter-wrapper .option-wrapper{
	margin-right: 20px;
}

.border-line{
	float: left;
	border-left:1px solid #dadce0;
	width: 1px;
	height: 46px;
}
.content-font{
	line-height: 44px;
	width: 400px;
	margin-right: 10px;
	text-overflow: ellipsis;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 400;
	height: 44px;
	float: left;
	border:none;
	white-space: nowrap;
	outline: none;
	margin-left:10px;
}
.content-font:focus{
	border-bottom: #ff5252 2px solid;
}
.search-font:focus{
	border-bottom: #ff5252 2px solid;
}
.search-wrapper .slider-wrapper{
	float: left;
	width: 300px;
	margin-right: 10px;
	margin-top: 3px;
}
.icon-color{
	float:left;
	margin-top:7px;
	margin-left: 13px;
	margin-right: 10px; 
	transition: 0.3s;
	cursor: pointer;
}
.icon-color:hover{
	color: hotpink;
}
.filter-wrapper{
	height: 46px;
	max-width: 1465px;
	margin: 40px auto;
}
.sort-wrapper .static{
	float: left;
}
.sort-wrapper .sort{
	float: right;
	margin-top: -15px;
}
.sort-wrapper{
	margin: 20px auto;
    max-width: 1465px;
}
.product{
	position: relative;
	height: 50px;
	border-top: 1px solid black;
	margin-bottom: 20px;
}
.product-wrapper{
	margin-top: 100px;
	margin-left: 158px;
	margin-right: 212px;
}
.name-font{
	text-align: left;
	margin-top:10px;
}
.author-font{
	text-align: left;
	color: rgba(0,0,0,.54);
}
.add-cart{
	position: absolute;
	right: 0px;
	top: 10px;
}
.category-button{
	width: 140px;
	border: 1px solid #dadce0;
	border-radius: 48px;
	height: 43px;
	margin-right:20px;
	padding-top:7px;
	float: left;
	cursor: pointer;
	
}
.category-wrapper{
	position: relative;
}
.category-dropout{
	position: absolute;
	top:50px;
	left:0px;
	width: 150px;
	height: 170px;
	border: #dadce0 solid 1px;
	border-radius: 24px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	background-color: white;
	z-index: 10;
}
.property-wrapper{
	position: relative;
}
.property-dropout{
	position: absolute;
	top:50px;
	left:261px;
	width: 250px;
	height: 250px;
	border: #dadce0 solid 1px;
	border-radius: 24px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	background-color: white;
	z-index: 10;
}
.property-button{
	width: 140px;
	border: 1px solid #dadce0;
	border-radius: 48px;
	height: 43px;
	margin-right:20px;
	padding-top:7px;
	float: left;
	cursor: pointer;
	
}
.option-product .filter{
	border-right: 1px solid #dadce0;
}
.style-option,.preview-option,.size-slider{
	float:left;
}
.fa-plus-circle{
	color:rgba(0,191,255,0.6);
}
.product-wrapper .product{
	transition: 1s;
}
.fa-minus-circle{
	color:#f6abb6;
}

.font-cart-wrapper{
  /* background: linear-gradient(to bottom,#6190E8,#A7BFE8); */
  background:whitesmoke;
  position: fixed;
  left: 1250px;
  top: 917px;
  opacity: 0.8;
  border-radius: 5px;
  transition: 0.5s;
}
.font-cart-wrapper .font-cart-header{
	height: 50px;
	width: 600px;
	line-height: 50px;
	background-color: #222;
	color: #dadce0;
	margin: auto;
	border-radius: 5px;
	cursor: pointer;
}
.font-cart-wrapper .font-cart-clear{
	text-align: left;
	margin: 10px 0px 0px 10px;

}
.font-cart-wrapper .font-in-cart{
	margin: 10px 0px 0px 10px;
}
.fa{
	cursor: pointer;
}
.font-cart-wrapper .font-wrapper{
	float: left;
	padding: 7px;
	border-radius: 16px;
	background-color: #ff8a00;
	margin:  0px 10px 5px 0px;
	cursor: pointer;
	transition: 1s;
}
.font-cart-wrapper .font-embedded{
	clear: both;
	text-align: left;
	margin-left: 10px;
}
.font-cart-wrapper .font-link{
	background-color: rgba(0,0,0,.08);
	padding:5px 10px;
	text-align: left;
	margin: 15px 0px;
}
.font-cart-content{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200px;
 	width: 600px;
}